/* Header */
.header-container {
    max-height: 150px;
    width: 100%;
    margin: 0 auto;
}
.header-logo {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
.header-left {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}
.Mainlogo {
    height: 55px;
    width: 60px;
}
.header {
    font-size: 15px;
}
.header-cards {
    font-size: 25px;
}
.header-right {
    display: flex;
    align-items: center;
    padding-right: 8px;
}
hr {
    border: 1px solid #9a9a9a;
}

/* Footer */
footer {
    bottom: 1px;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

}