/* Header */
.header-container {
    max-height: 150px;
    width: 100%;
    margin: 0 auto;
}
.header-logo {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
.header-left {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}
.Mainlogo {
    height: 55px;
    width: 60px;
}
.header {
    font-size: 15px;
}
.header-cards {
    font-size: 25px;
}
.header-right {
    display: flex;
    align-items: center;
    padding-right: 8px;
}
hr {
    border: 1px solid #9a9a9a;
}

/* NoteCard */
.note-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 5px;
    text-align: center;
    perspective: 1000px;
    cursor: pointer;
    position: relative;
    width: 200px;
    height: 150px;
}

.note-card-front,
.note-card-back {
    backface-visibility: hidden;
    transition: transform 0.6s;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid #9a9a9a;
    border-radius: 10px;
}

.note-card-front {
    transform: rotateY(0deg);
}

.note-card-back {
    transform: rotateY(180deg);
}

.note-container.flipped .note-card-front {
    transform: rotateY(-180deg);
}

.note-container.flipped .note-card-back {
    transform: rotateY(0deg);
}

/* Footer */
footer {
    bottom: 1px;
}
.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 1px
}